body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.star-rating {
  display: flex;
}

.star {
  padding: 15px;
}

.star svg {
  stroke: #757575;
  stroke-width: 10px;
}

.star-proposed svg {
  fill: #FFD200;
}

.star-committed svg {
  stroke-width: 0;
  fill: #FFD200;
}
